  <div class="list-group">
    <p class="list-group-item">Document to search: <%=$str%></p>
    <a href="#" class="list-group-item">Document 1: <%=$doc[0]%>     -    Similarity: <%=$d1%>%</a>
    <a href="#" class="list-group-item">Document 2: <%=$doc[2]%>     -    Similarity: <%=$d2%>%</a>
    <a href="#" class="list-group-item">Document 3: <%=$doc[4]%>     -    Similarity: <%=$d3%>%</a>
    <a href="#" class="list-group-item">Document 4: <%=$doc[6]%>     -    Similarity: <%=$d4%>%</a>
    <a href="#" class="list-group-item">Document 5: <%=$doc[8]%>     -    Similarity: <%=$d5%>%</a>
  </div>

    <form action="/index/index" method="POST">
    <div class="text-right">
        <button type="back" id="btn_back" value="regresar"  class="btn btn-default">Back</button>
    </div>

    </form>
